<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>

    <body>
        <%-include("./partials/header")%>

            <main>
                <div class="post-detail container">
                    <section class="center main-content post">
                        <div class="info-usuario">
                            <img src="<%= usuario_posteo.foto_perfil %>" alt="foto de perfil"> <!-- Usuario posteo tiene la informacion del usuario (id de userscontroller) que hizo el posteo y con .foto de perfil muestro la foto de perfil de ese usuario -->
                            <p><a href="users/detalleUsuario/<%= posteo.id_usuario %>">
                                    <%= posteo.email_usuario%>
                                </a></p>
                        </div>
                        <img class="photo" src="<%= posteo.nombre_imagen %>" alt="imagen post">
                    </section>
                    <section class="right">
                        <h4>Comentarios</h4>
                        <section class="comments">
                            <form action="" class="comment-form">
                                <input type="text" class="input" placeholder="Agregar comentario">
                                <button type="submit">Comentar</button>
                            </form>
                            <div>
                                <% for( let i=0; i < posteo.comentario.length; i++ ) { %> <!-- Recorrer los comentarios del posteo que estan en la variable que creamos en detallePost del userscontroller -->
                                    <article class="comment">
                                        <% for( let j=0; j < usuarios; j++ ) { %>
                                            <% if (posteo.comentario[i].id_usuario==usuarios[j].id_usuario) { %><!-- Este tipo de tag ejs me permite crear código js en medio del html -->
                                                <img src="<%= usuarios[j].foto_perfil %>" alt="foto perfil">
                                                <% } %>
                                                    <% } %>
                                                        <section class="content">
                                                            <a class="user"
                                                                href="users/detalleUsuario/<%= posteo.comentario[i].id_usuario %>">
                                                                <%= posteo.comentario[i].email_usuario %> <!-- Muestra el usuario de la persona que comentó y el comentario en sí -->
                                                            </a>
                                                            <span class="text">
                                                                <%= posteo.comentario[i].texto_comentario %>
                                                            </span>
                                                        </section>
                                    </article>
                                    <% } %>
                            </div>
                        </section>
                    </section>
                </div>
            </main>

            <%-include("./partials/footer")%>
    </body>

</html>