<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>

<body>
    <%-include("./partials/header")%>
    <main>
        <section class="center main-content">
            <% for( let i = 0; i < posteos.length; i++) { %>    <!-- Recorre todos los posteos -->
                <article class="post">
                    <div class="info-usuario ">
                        <img src="<%= posteos[i].usuarios_id_posteo.foto_perfil %>" alt="foto de perfil">
                        <h4>
                            <a href="/users/detalleUsuario/<%= posteos[i].id_usuario %>"><%= posteos[i].nombre_usuario %></a> <!-- Insertamos el email del usuario que hizo el posteo -->
                        </h4>
                    </div>
                    <div class="post-body">
                        <a href="/users/detallePost/<%= posteos[i].id_posteo %>">   <!-- Insertamos el posteo en sí -->
                            <img src="<%= posteos[i].nombre_imagen %>" alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    <div class="post-comentarios">
                        <h4>Comentarios</h4>
                        <ul>
                            <% for( let j = 0; j < posteos[j].usuarios_id_posteo.length; j++ ) { %>     <!-- Recorre el array de comentario de posteo -->
                                <li>
                                    <a href="/users/detalleUsuario/<%= posteos[i].usuarios_id_posteo[j].id_usuario %>"><%= posteos[i].usuarios_id_posteo[j].nombre_usuario %></a>    <!-- Inserto el email del usuario que hizo el comentario -->
                                    <span><%= posteos[i].usuarios_id_posteo[j].texto_comentario %></span> <!-- Inserto el comentario en sí -->
                                </li>
                            <% } %>
                            <a href="/users/detallePost/<%= posteos[i].id_posteo %>">Ver más...</a>  <!-- Cuando presionamos ver mas nos lleva al id del posteo -->
                        </ul>
                    </div>
                </article>
            <% } %>
            
        </section>    
    </main>

    <%-include("./partials/footer")%>

</body>

</html>