<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>

    <body>
        <%-include("./partials/header")%>

            <main>
                <div class="user-detail container">
                    <section class="top main-content">
                        <img class="profile" src="<%= usuario.foto_perfil %>" alt=""> <!--  -->
                        <div class="info-usuario">
                            <p>
                                <%= usuario.email %>
                            </p>
                            <a class="follow" href="/editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                            <ul class="meta">
                                <li>2 posts</li>
                                <li>200 seguidores</li>
                                <li>300 seguidos</li>
                            </ul>
                        </div>
                    </section>
                    <section class="bottom">
                        <% for( let i=0; i < posteos_usuario.length; i++ ) { %>     <!-- Recorre el array de posteos_usuario que creamos vacío en detalleUsuario en el userscontroller  -->
                            <article class="post">
                                <a href="/users/detallePosteo/<%= posteos_usuario[i].id_posteo%>">  <!--  -->
                                    <img src="<%= posteos_usuario[i].nombre_imagen %>">     <!--  -->
                                </a>
                            </article>
                            <ul>
                                <% for( let j=0; j < posteos_usuario[i].comentario.length; j++ ) { %>   <!-- Recorre los comentarios de los dos posteos del usuario -->
                                    <li>
                                        <a
                                            href="/users/detalleUsuario/<%= posteos_usuario[i].comentario[j].id_usuario%>"> <!-- Queremos que nos redirija al detalle del usuario que hizo el comentario   -->
                                            <%= posteos_usuario[i].comentario[j].email_usuario %>   <!-- Inserta el email de la persona que comentó -->
                                        </a>
                                        <span>
                                            <%= posteos_usuario[i].comentario[j].texto_comentario %>    <!-- Inserta el comentario en sí -->
                                        </span>
                                    </li>
                                    <% } %>
                            </ul>
                            <% } %>
                    </section>
                </div>
            </main>

            <%-include("./partials/footer")%>
    </body>

</html>