<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>

    <body>
        <%-include("./partials/header")%>
            <main>
                <section class="center main-content">
                    <h1 class="tituloFormulario">Resultados de búsqueda.</h1>
                    <% for( let i = 0; i < usuarios.length; i++ ) { %>
                        <div>
                            <a href="/users/detalleUsuario">
                                <h2>
                                    <%= usuarios[i].email %>
                                </h2>
                                <img class="imagenResultadoBusqueda" src="<%= usuarios[i].foto_perfil %>" alt="foto de perfil">
                            </a>
                        </div>
                    <% } %>
                    
                </section>
            </main>
            <%-include("./partials/footer")%>

    </body>

</html>